@import "../assets/theme.scss";

// Resets
html,
body,
h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

p.display-override {
  display: initial;
}

a {
  text-decoration: none;
  &:visited {
    color: initial;
  }
}

img {
  width: 100%;
}

// Globals

* {
  font-family: "Open Sans", sans-serif;
  color: #373d3f;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  #app {
    height: 100%;
    width: 100%;
  }
}

.icon {
  display: flex;
  align-items: center;
  stroke-width: 1.5;
  stroke: #373d3f;
  &.light {
    svg {
      stroke-width: 1.5;
      stroke: white;
    }
  }
  &.medium {
    svg {
      width: 18px;
    }
  }
}

.valign-center {
  display: flex;
  align-items: center;
}

// App

.app-wrapper {
  display: flex;
  height: 100%;
  & > * {
    align-self: stretch;
  }

  .app-content {
    background: #fff;
    flex: 1;
    padding: 20px 30px;
  }
}
