@import "../../assets/theme.scss";

$background-square: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='Artboard-5' fill='%23ffffff' fill-opacity='0.12' fill-rule='nonzero'%3E%3Cpath d='M6 18h12V6H6v12zM4 4h16v16H4V4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$background-dots: url("../../assets/svgs/dots.svg?scss");

.forecast {
  display: flex;
  flex-wrap: wrap;
  .day {
    margin: 0 15px 15px;
    flex-basis: calc(33% - 30px);
    background: linear-gradient(60deg, #3498db88, #3498db66), #444;
    border-radius: 5px;
    height: 220px;
    .high-low {
      color: #fafafa;
      font-size: $font-large;
      text-align: center;
      margin-bottom: 10px;
      position: relative;

      .alert-icon {
        position: absolute;
        top: -10px;
        left: calc(100% - 30px);
        cursor: pointer;

        &.warning {
          svg {
            stroke: #f5e653;
          }
        }

        &.critical {
          svg {
            stroke: #d64541;
          }
        }
      }
    }
    .day-title {
      color: #444;
      background: #fafafa;
      font-size: $font-medium;
      font-weight: 300;
      margin-bottom: 15px;
    }
    .weather-icon {
      width: 200px;
      margin: 0 auto;
      // box-shadow: 0 4px 10px #fafafa;
    }
    .day-summary {
      color: #fafafa;
      font-weight: 300;
      text-align: center;
    }
  }
}
